<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <br>

    <hr>


    <div class="Akame Ga Kill Ep1">
        <iframe class="embed-responsive-item" src="assets/Videos/Rezero01.mp4" allowfullscreen></iframe>
    </div>
    <hr>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> 1 </a>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> 2 </a>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> 3 </a>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> 4 </a>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> 5 </a>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> 6 </a>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> 7 </a>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> 8 </a>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> 9 </a>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> 10 </a>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> 11 </a>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> 12 </a>

    <!-- card-body.// -->

    <!-- col.// -->
</div>
<!-- row.// -->

<!-- card.// -->





<br><br><br>